


/*尾部*/
.public-footer{
    min-height: 200px;
    background: url("http://od4jk9bzu.bkt.clouddn.com/bg.png") no-repeat center center fixed;
    background-size: cover;
    color: #e6ebe6;
}
/*头像*/
.public-footer-logo{
    float: left;
    margin-left: 60px;
    width: 150px;
}
.logo-line{
    display: block;
    height: 80px;
    width: 50px;
    border-left: 2px #ffffff solid ;
    margin-left: 60px;
}
.logo-photo{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    transition: transform 2s;
}
.logo-photo:hover{
    transform: rotate(360deg);
}
/*简介*/
.public-footer-text{
    float: left;
    width: 500px;
    margin-top: 88px;
    margin-left: 20px;
    margin-bottom: 44px;
    font-size: 24px;
    color: #ffffff;
}
/*外链*/
.public-footer-links{
    position: absolute;
    right: 3em;
    margin-top: 3em;
}
.public-footer-links a{
    margin-right: 1.5em;
    color: #e6ebe6;
}
.public-footer-links a:hover{
    color: #2ca6cb;
}
/*版权信息*/
.public-footer-copyright{
    display: inline-block;
    margin-bottom: 1.5em;
    width: 100%;
    text-align: center;
}